%section#info-box
  %h3#underlined
    Social Activities
  - if logged_in? && @user != current_user && may_remove_contact?
    %div#say_box
      = render :partial => 'common/send_form'

  %div#activities
    = render :partial => "activities"
